<div class="proyecto">
<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Reserva De Hotel</h1>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Reiciendis dignissimos 
                itaque ipsa doloremque minus obcaecati suscipit 
                quas beatae culpa sint, blanditiis rerum officia hic. 
                Ab nesciunt maxime nisi aliquam odio?</p>
        </div>
        <div class="imagen">
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
          <img src=" ../../../../../assets/reserva.png" class="img-fluid img-proyecto">
    </div>
    </div>
    </div>
</div>
</div>
