.proyecto{
    background-color: black;
}
.row{
    background: #b7a2c4;
    margin: 20px 30px;
    padding: 20px;
    border: 3px solid #af03ff;
    display: inline-block;

}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px black;
    box-shadow: ejex ejey difumasion color;
}