.acerca{
    background-color: black;
}
.row {
    background: #b7a2c4;
    margin: 20px 30px;
    padding: 20px;
    border: 3px solid #af03ff;
    display: inline-block;
}
div {
    background-color: #b7a2c4;
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
       
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(10, 10, 10);
        left: 3%;
        top: 600px;
    } 
}
@media (max-width: 575px){
    #fotodeperfil{
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 610px;
    } 
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 1%;

}