<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li><h1>Trabajo 1</h1> - 
        <h3> (years)</h3></li>
        <p> Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. 
            Cumque odit ratione quas quia 
            consectetur quos temporibus 
            dolorum, quisquam tempora porro 
            possimus, sapiente nostrum 
            corporis ut deserunt inventore 
            tenetur saepe fugit!
        </p>
      </ul>
      <ul>
        <li><h1>Trabajo 2</h1> - 
        <h3> (years)</h3></li>
        <p> Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. 
            Cumque odit ratione quas quia 
            consectetur quos temporibus 
            dolorum, quisquam tempora porro 
            possimus, sapiente nostrum 
            corporis ut deserunt inventore 
            tenetur saepe fugit!
        </p>
      </ul>
      <ul>
        <li><h1>Trabajo 3</h1> - 
        <h3> (years)</h3></li>
        <p> Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. 
            Cumque odit ratione quas quia 
            consectetur quos temporibus 
            dolorum, quisquam tempora porro 
            possimus, sapiente nostrum 
            corporis ut deserunt inventore 
            tenetur saepe fugit!
        </p>
      </ul>
    </div>
</div>